asn1crypto==0.24.0
certifi==2021.5.30
chardet==4.0.0
cryptography==2.1.4
idna==2.6
keyring==10.6.0
keyrings.alt==3.0
lxml==4.6.3
multitasking==0.0.9
numpy==1.19.5
pandas==1.1.5
pycoingecko==2.1.0
pycrypto==2.6.1
pygobject==3.26.1
python-dateutil==2.8.1
pytz==2021.1
pyxdg==0.25
requests==2.25.1
SecretStorage==2.3.1
six==1.11.0
urllib3==1.26.5
yfinance==0.1.59

